body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background-color: green;
  overflow: hidden;
  transition: background-color 2s;
  user-select: none;
}
.menuStart {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  row-gap: 100px;
  background-image: url("../image/backgroundMenu.png");
  background-size: cover;
  background-repeat: no-repeat;
  transition: opacity 3s;
}
.menuStart img {
  width: 300px;
  height: auto;
}
.menuStart-buttons {
  display: flex;
  align-items: center;
  column-gap: 200px;
}
.menuStart .start {
  display: inline-block;
  font-size: 32px;
  color: black;
  border: 2px solid black;
  padding: 2px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.menuStart .start:hover {
  border-color: red;
  color: red;
}
.menuStart .start:active,
.menuStart .rules:active {
  border: 2px inset darkred;
}
.menuStart .rules {
  background-image: url("../image/rules.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 43px;
  border: 2px solid black;
}
.menuStart .rules:hover {
  border-color: red;
  background-color: red;
}
.game {
  position: relative;
  transition: opacity 2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 50px);
  grid-template-rows: repeat(13, 50px);
  border: 1px solid black;
  width: 1000px;
}
.case {
  border: 1px solid black;
}
.case:hover {
  background-color: yellow;
}
.case:active {
  border: 5px inset black;
}
.life {
  background-image: url("../image/heart100.png");
  background-position: center;
  background-size: 49px 49px;
}

.borderTR {
  border-top: 4px solid black;
  border-right: 4px solid black;
  background-color: gray;
}
.borderTB {
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  background-color: gray;
}

.borderTL {
  border-top: 4px solid black;
  border-left: 4px solid black;
  background-color: gray;
}

.borderBR {
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  background-color: gray;
}

.borderBL {
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  background-color: gray;
}

.borderLR {
  border-left: 4px solid black;
  border-right: 4px solid black;
  background-color: gray;
}

.gold img {
  width: 50px;
  height: 50px;
}
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 722px;
  border: 1px solid black;
  background: url("../image/backgroundShop.jpg");
  background-size: contain;
}
.gold {
  position: absolute;

  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-weight: 700;
  font-size: 26px;
  border-radius: 30px;
  width: 100px;
}
.shop {
  margin-top: 200px;
}
.turretRed {
  display: flex;
  align-items: center;
  justify-content: center;
}
.turretRed .redTurret {
  position: relative;
  border: 1px solid black;
  margin-right: 50px;
}
.priceTurret {
  display: contents;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}
.priceTurret::after {
  content: "";
  background-image: url(../image/money.png);
  margin-right: 50px;
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
}
.price {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}
.gameOver {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  width: 400px;
  height: 200px;
  font-size: 32px;
  text-align: center;
  color: darkred;
  border: 1px solid white;
  visibility: hidden;
}
.gameOver button {
  width: 100px;
  height: 50px;
  border-radius: 50%;
  border: 5px inset gray;
}
.gameOver button:active {
  border: 5px inset black;
}
.caseTurret {
  display: flex;
  align-items: center;
  justify-content: center;
}
.redTurret {
  position: absolute;
  background-color: red;
  width: 40px;
  height: 40px;
}
.caseSelect {
  width: 46px;
  height: 46px;
  border: 2px solid yellow;
}

.mob {
  display: grid;
  position: absolute;
  width: 36px;
  height: 42px;
}
.missile {
  position: absolute;
  transition: 0.29s;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  z-index: 1;
}
