body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: green;
  background-repeat: repeat;
  overflow: hidden;
}
.game {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(20, 50px);
  grid-template-rows: repeat(13, 50px);
  border: 1px solid black;
  width: 1000px;
}
.case {
  border: 1px solid black;
}
/*
.road {
  width: 1000px;
}
  .block {
  position: absolute;
  border: 4px solid black;
  background-color: gray;
  width: 50px;
  height: 50px;
}
.borderTR {
  border-bottom: 0;
  border-left: 0;
}
.borderTB {
  border-left: 0;
  border-right: 0;
}
.borderTL {
  border-bottom: 0;
  border-right: 0;
}
.borderBR {
  border-top: 0;
  border-left: 0;
}
.borderBL {
  border-top: 0;
  border-right: 0;
}
.borderLR {
  border-top: 0;
  border-bottom: 0;
}

.block1 {
  width: 300px;
}
.block2 {
  border-left: 0;
  border-bottom: 0;
  left: 300px;
}
.block3 {
  left: 296px;
  top: 54px;
  height: 150px;
}
.block4 {
  top: 204px;
  left: 300px;
}
.block5 {
  width: 150px;
  top: 200px;
  left: 150px;
}
.block6 {
  top: 200px;
  left: 96px;
}
.block7 {
  height: 100px;
  top: 254px;
  left: 96px;
}
.block8 {
  top: 354px;
  left: 96px;
}
.block9 {
  width: 600px;
  top: 350px;
  left: 150px;
}
.block10 {
  top: 354px;
  left: 750px;
}
.block11 {
  height: 100px;
  top: 254px;
  left: 746px;
}
.block12 {
  top: 200px;
  left: 750px;
}
.block13 {
  width: 150px;
  top: 200px;
  left: 600px;
}
.block14 {
  top: 204px;
  left: 546px;
}
.block15 {
  left: 546px;
  top: 54px;
  height: 150px;
}
.block16 {
  left: 546px;
}
.block17 {
  left: 600px;
  width: 300px;
}
.block18 {
  left: 900px;
}
.block19 {
  left: 896px;
  top: 54px;
  height: 450px;
}
.block20 {
  top: 504px;
  left: 900px;
}
.block21 {
  top: 500px;
  left: 100px;
  width: 800px;
}*/
.block21 img,
.gold img {
  width: 50px;
  height: 50px;
}
.block21 img {
  position: relative;
  right: 50px;
}
.menu {
  position: absolute;
  right: 0;
  width: 30vw;
  height: 722px;
  border: 1px solid black;
  background: url("../image/backgroundMenu.jpg");
  background-size: contain;
}
.gold {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: lightgray;
  font-weight: 700;
  font-size: 26px;
  border-radius: 30px;
  width: 100px;
}
